nav{
    background: linear-gradient( to bottom , rgba(0, 0, 0, 0),#0000007a,#000000ba,#00000080,#00000000);
}

.nav-item{
    position: relative;
    text-transform: uppercase;
    color: var(--beige);
    letter-spacing: 0.100em;
    font-size: clamp(14px, 0.8vw,2vw);    
    overflow: hidden;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    font-weight: bold;    
    padding: 2.5em .8em;

}

.logo{
    padding: 0;
}


@media (max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        -webkit-backdrop-filter: blur(5px);  
        backdrop-filter: blur(5px);
    }

    .logo{
        display: none;
    }

    .nav-item{
        padding: 1em .8em;
    }

    .log-reg{
       

    }
}
