  button {
    cursor: pointer;
  }
  
  @keyframes bounceLeft {
    0% {
      transform: translate3d(100%, -50%, 0);
    }
    50% {
      transform: translate3d(-30px, -50%, 0);
    }
    100% {
      transform: translate3d(0, -50%, 0);
    }
  }
  
  @keyframes bounceRight {
    0% {
      transform: translate3d(0, -50%, 0);
    }
    50% {
      transform: translate3d(calc(100% + 30px), -50%, 0);
    }
    100% {
      transform: translate3d(100%, -50%, 0);
    }
  }
  
  @keyframes showSignUp {
    100% {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  button {
    background-color: transparent; 
    transition: all .2s ease-in-out; 
  }

  button:active,
  input[type="submit"]:active {
      transform: scale(0.97);
      transition: transform 0.05s ease-in-out;
  }

  button:hover{
    color: var(--dark-golden);
    background-color: rgb(245, 245, 220);
    box-shadow: 0px 0px 15px 1px rgb(212, 175, 55, 0.75) ;
  }

  .eye-animated {
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .forms_field-input {
    border-bottom: 1px solid #333;
    font-family: "Raleway", sans-serif;
    letter-spacing: .1rem;
    transition: border-color, box-shadow .2s ease-in-out;
    background-color: transparent;
  }

  .error-bar {
    border-bottom: 1px solid red;
  }

  .forms_field-input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px beige inset ;
  }

  .forms_field-input:focus ~ .labels,
  .forms_field-input:valid ~ .labels{
    top: -14px;
    font-size: 12px;
    color: var(--black);
  }
  
  .forms_field-input:focus ~ .bar:before {
    width: 100%;
  }
  
  input[type="password"] {
    letter-spacing: 0.3em;
  }
  
  .show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
  }
  
  .labels {
    color: #666;
    font-size: 16px;
    pointer-events: none;
    transition: 300ms ease all;
    position: absolute;
    letter-spacing: 0.08rem;
    left: 5px;
    top: 6px;
  }
  
  .bar {
    position: relative;
    display: block;
    width: 100%;
  }

  
  
  .bar:before {
    content: '';
    height: 1.5px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: var(--golden);
    transition: 300ms ease all;
    left: 0%;
  }
  
  .remember {
    color: #333;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .1rem;
    font-weight: 500;
    user-select: none;
  }
  
  input[type="checkbox"] {
    margin-left: 5px;
    accent-color: #333;
  }
  
  .forms_buttons-forgot {
    font-family: "Raleway", sans-serif;
    letter-spacing: .1rem;
    color: #333;
    text-decoration: underline;
    transition: color .2s ease-in-out;
    user-select: none;
  }
  
  .user_options-forms .forms_buttons-forgot:hover {
    color: #959191;
  }

  
  .user_options-forms .user_forms-signup,
  .user_options-forms .user_forms-login {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 80%;
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out, transform .5s ease-in-out; 
  }
  
  .user_options-forms .user_forms-signup {
    transform: translate3d(120px, 0, 0);
  }
  
  .user_options-forms .user_forms-signup .forms_buttons {
    justify-content: center;
  }
  
  .user_options-forms .user_forms-login {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    visibility: visible;
  }
  
  .user_options-forms.bounceLeft {
    animation: bounceLeft 1s forwards;
  }
  
  .user_options-forms.bounceLeft .user_forms-signup {
    animation: showSignUp 1s forwards;
  }
  
  .user_options-forms.bounceLeft .user_forms-login {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-120px, 0, 0);
  }
  
  .user_options-forms.bounceRight {
    animation: bounceRight 1s forwards;
  }
  
